@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clearfix">
	<h4>用户登录</h4>

	<hr />

	<form id="formLogin" class="form-horizontal">
		<div class="form-group">
			<label for="txtLoginName" class="col-md-1 control-label">登录账号</label>
			<div class="col-md-3">
				<input type="email" class="form-control" id="txtLoginName" name="LoginName" placeholder="请输入登录账号">
			</div>
		</div>

		<div class="form-group">
			<label for="txtPassword" class="col-md-1 control-label">密　　码</label>
			<div class="col-md-3">
				<input type="password" class="form-control" id="txtPassword" name="Password" placeholder="请输入密码">
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-1 col-md-10">
				<button id="btnSubmit" type="button" class="btn btn-primary">登 录</button>
				&nbsp;&nbsp;
				<a href="@Url.Action("Register", "Account")">新用户注册</a>
			</div>
		</div>
	</form>
</div>

@section scripts {
	<script type="text/javascript">
		$("#formLogin").keypress(function (e) {
			var keyCode = e.keyCode || e.charCode;

			if (keyCode === 13) {
				$("#btnSubmit").click();
				return;
			}
		});

		$("#btnSubmit").bind("click", function () {
			if ($.trim($("#txtLoginName").val()) === "") {
				alert("请输入登录账号");
				$("#txtLogingName").focus();
				return;
			}

			if ($.trim($("#txtPassword").val()) === "") {
				alert("请输入密码");
				$("#txtPassword").focus();
				return;
			}

			$.ajax({
				type: "POST",
				dataType: "json",
				url: "@Url.Action("Login", "Account")",
				data: $("#formLogin").serialize(),
				success: function (result) {
					if (result.Success) {
						window.location.href = "@Url.Action("Index", "Home")";
					} else {
						alert(result.Message);

						$("#txtPassword").val("");
					}
				}
			});
		});
	</script>
}